# Configuration Signal
MY_PHONE_NUMBER=+336XXX

# Tu peux supprimer les lignes STRAVA_CLIENT_ID et SECRET
GARMIN_EMAIL=your_email
GARMIN_PASSWORD=you_pw

HEVY_API_KEY=votre_cle_hevy

GEMINI_API_KEY=api_key